* {
  margin: 0px;
  padding: 0px;
}
$appbarHeight: 70px;
.appbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: $appbarHeight;
  //   justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  .dropdown {
    display: flex;
    flex-direction: column;
  }
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  .playground-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $appbarHeight;
    width: 100%;
    height: 100vh;
    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      flex-direction: column;
      & input {
        width: 200px;
      }
      & button {
        width: 200px;
      }
    }
    .playground {
      width: 80%;
      height: 600px;
      border: 1px solid red;
      background: #ccc;
    }
  }
}
